.mainBody {
  width: 100%;
  min-height: 1347px;
  border-radius: 16px;
  /* border: 0.5px solid #787878; */
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 35px 39px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Tablet view */
@media (max-width: 1024px) {
  .mainBody {
    width: 90%; /* Adjust width for tablet screens */
    padding: 25px 30px; /* Adjust padding for smaller screens */
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .mainBody {
    width: 100%; /* Full width on mobile */
    padding: 15px 20px; /* Less padding on mobile */
  }

  /* Stack the AllLearningCircles cards */
  .allLearningCirclesContainer {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center items */
  }
}
